<server description="new server">
    <basicRegistry id="basic" realm="customRealm">
    	<user name="user" password="password"/>
    </basicRegistry>

    <!-- Enable features -->
    <featureManager>
        <feature>webProfile-7.0</feature>
        <feature>servlet-3.1</feature>
        <feature>ssl-1.0</feature>
    	<feature>appSecurity-2.0</feature>
	    <feature>localConnector-1.0</feature>
    	<feature>jsp-2.3</feature>
		<feature>openidConnectClient-1.0</feature>
	</featureManager>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint"/>
    <application id="JavaHelloWorldApp" location="/Users/xiaolixu/Downloads/wlp/usr/servers/server1/dropins/JavaHelloWorldApp.war" name="JavaHelloWorldApp" type="war">
        <application-bnd>
            <security-role name="all">
                <special-subject type="ALL_AUTHENTICATED_USERS"/>
            </security-role>
        </application-bnd>
    </application> 
    <openidConnectClient id='fXBYGIZ204' clientId='fXBYGIZ204' clientSecret='sdEG4vYFcc' authorizationEndpointUrl='https://sso-sgm9zctu6n-cp16.iam.ibmcloud.com/idaas/oidc/endpoint/default/authorize' tokenEndpointUrl='https://sso-sgm9zctu6n-cp16.iam.ibmcloud.com/idaas/oidc/endpoint/default/token' redirectToRPHostAndPort='https://java-sso.mybluemix.net:443' issuerIdentifier='sso-sgm9zctu6n-cp16.iam.ibmcloud.com' scope='openid' httpsRequired='true' sslRef='ssoSSLConfig'/> 
    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>
    <applicationMonitor updateTrigger="mbean"/>
    <keyStore password="mysecret"/>


</server>